.DS_Store
/node_modules

*.log
wp-config.php
htdocs/wp-content/advanced-cache.php
htdocs/wp-content/backup-db/
htdocs/wp-content/backups/
htdocs/wp-content/blogs.dir/
htdocs/wp-content/cache/
htdocs/wp-content/upgrade/
htdocs/wp-content/uploads/
htdocs/wp-content/mu-plugins/
htdocs/wp-content/backups-dup-lite/
htdocs/wp-content/themes/twenty*
htdocs/wp-content/themes/Template/data/css/*
