/* BASE STYLE */
@import './base/variables'; //always import files with variables before files where variables are called
@import './base/reset';

/* BASE STYLE: MIXINS */
@import './base/mixins/media-query';

/* BASE STYLE: UTILITY */
@import './base/utility/typography';
@import './base/utility/flex';
@import './base/utility/fonts';
@import './base/utility/layout';
@import './base/utility/only';


/* COMPONENT STYLE */
@import './component/c-button';


/* LAYOUT STYLE */
@import './layout/footer';
@import './layout/header';
@import './layout/main';
@import './layout/nav';

/* LAYOUT STYLE: PAGES */
@import './layout/pages/index';
