/* //default// */
.u-font-sans {
  font-family: 'Open Sans', sans-serif;
}

/* SANS-SERIF FONTS */
.u-font-lato {
  font-family: 'Lato', sans-serif;
}
.u-font-mont {
  font-family: 'Montserrat', sans-serif;
}

.u-font-roboto {
  font-family: 'Roboto', sans-serif;
}

.u-font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}


/* SERIF FONTS */

.u-font-noto {
  font-family: 'Noto Serif', serif;
}

.u-font-roboto {
  font-family: 'Source Serif Pro', serif;
}
